textarea {
	overflow: auto;
	resize: none;
	width: 300px;
	height: 100px;
	background: #f6f6f6;
	border: 1px solid #cecece;
	border-radius: 8px 0 0 0;
	padding: 8px 0 8px 10px;
	color: #6678b1;
}

input {
	width: 300px;
	font-size: 13px;
	padding: 6px 0 4px 10px;
	border: 1px solid #cecece;
	background: #F6F6f6;
	border-radius: 8px;
}

.submit {
	cursor: pointer;
	border: 1px solid #cecece;
	background: #f6f6f6;
	box-shadow: inset 0px 20px 20px #ffffff;
	border-radius: 8px;
	padding: 8px 14px;
	text-align: center;
	color: #6678b1;
}
.submit:hover {
	box-shadow: inset 0px -20px 20px #ffffff;
}
.submit:active {
	margin-top: 1px;
	margin-bottom: -1px;
	zoom: 1;
}

.label{
	color: teal;
	float: right;
}
.title{
	color: teal; 
	font-size: 30px; 
	padding-top: 100px
}
.requestTable{
	width:400px;
	height:150px;
	white-space: nowrap;
}

table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  background: white;
  max-width: 70%;
  width: 70%;
  border-collapse: collapse;
  text-align: left;
}
th {
  font-weight: normal;
  color: teal;
  border-bottom: 2px solid #6678b1;
  padding: 10px 8px;
}
td {
  color: teal;
  padding: 9px 8px;
  transition: .3s linear;
}
tr:hover td{
  color: teal;
}

.error{
	color: red;
}